/* Elements */
body {
  background: linear-gradient(to left, #ec8ae3, #e8b2e3);
}

li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

footer {
  margin-top: 15px;
  text-align: center;
}

h1 {
  text-align: center;
  color: darkgreen;
  font-size: 3rem;
  margin-bottom: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

}

table {
  border-collapse: collapse;
  background-color: white;
  width: 80%;
}

th {
  text-align: center;
}

th, td {
  padding: 6px;
  border: 1px solid black;
}

/* Pseudo Classes */
/* tr:nth-child(even) {
  background-color: #D0D0D0;
} */

tbody tr:hover {
  /* background-color: aquamarine; */
  border: 3px purple solid;
}

/* Classes */
.quantity {
  display: flex;
  justify-content: space-around;
}

.selected {
  background-color: greenyellow;
}

.nonselected {
  background-color: white;
}

.green {
  background-color: greenyellow;
}
.blue {
  background-color: rgba(116, 116, 231, 50%);
}
.red {
  background-color: rgba(234, 12, 12, 50%);
}
.yellow {
  background-color: yellow;
}

.nonzero {
  font-size: 1.2rem;
  background:
  linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

/* External fonts */
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ID's */
#priceChanges {
  height: 100px;
  width: 30%;
  margin-bottom: 15px;
}

#resetBtn {
  width: 100px;
  height: 50px;
  margin: 15px;
}